/***
*
*  Project R - Nathan Butler - iamnbutler@gmail.com
*
*  Primary Styles
*
***/

* {
	padding: 0;
	margin: 0;
}

html, body, #song {
	width: 100%;
	height: 100%;
}

/***
*
*  Song Styles [SONG]
*
***/

#ui-song-header, #ui-song-footer {
	background: white;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 8%;
}

#ui-song-footer {
	top: 92%;
}

#song-title {
	position: absolute;
		top: 0;
		left: 0;
	width: 50%;
	height: 100%;
}

#song-mode {
	position: absolute;
		top: 0;
		left: 50%;
	text-transform: uppercase;
	width: 25%;
	height: 100%;
}

#song-score {
	position: absolute;
		top: 0;
		left: 75%;
	width: 25%;
	height: 100%;
}

/***
*
*  Note Styles [NOTE]
*
***/

#note-container, .note-wrap {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
}

.note {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 21;
}

.note-target {
	background-color: #363636;
	position: absolute;
	width: 38px;
	height: 38px;
	z-index: 20;
}

.reg {
	background-size: 40px 40px;
}

.reg-target {
	
}

.ui-note-circle {
	background-image: url(../img/ui-note-circle.png);
}

.ui-note-triangle {
	background-image: url(../img/ui-note-triangle.png);
}

.ui-note-x {
	background-image: url(../img/ui-note-x.png);
}

.ui-note-square {
	background-image: url(../img/ui-note-square.png);
}

.ui-note-circle-target {
	border: 1px white solid;
	border-radius: 19px;
}

/***
*
*  Test Styles [TEST]
*
***/

.test {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
}

.test video {
	width: 100%;
	height: auto;
}

.test ul {
	width: 100%;
	height: 100%;
}

.test li {
	font: 18px;
	list-style: none;
	padding: 50px 0px;
	padding-left: 20px;
	height: 18px;
	width: 100%;
}

.test li:nth-child(even) {
	background-color: #EFEFEF;
}

.test li a {
	color: black;
	text-decoration: none;
}