/***
*
*  Project R - Nathan Butler - iamnbutler@gmail.com
*
*  Primary Styles
*
***/

* {
	padding: 0;
	margin: 0;
}

html, body, #song {
	width: 100%;
	height: 100%;
}

/***
*
*  Song Styles [SONG]
*
***/

#ui-song-header, #ui-song-footer {
	background: white;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 8%;
}

#ui-song-footer {
	top: 92%;
}

#song-title {
	position: absolute;
		top: 0;
		left: 0;
	width: 50%;
	height: 100%;
}

#song-mode {
	position: absolute;
		top: 0;
		left: 50%;
	text-transform: uppercase;
	width: 25%;
	height: 100%;
}

#song-score {
	position: absolute;
		top: 0;
		left: 75%;
	width: 25%;
	height: 100%;
}

/***
*
*  Note Styles [NOTE]
*
***/

#note-container, .note-wrap {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
}

.note, .note-target {
	background-image: url(../img/ui-note-sprite.png);
	background-size: 320px 80px;
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 21;
}

.note-target {
	z-index: 20;
}

.ui-timer-arrow {
	background-image: url(../img/ui_timer_arrow.png);
	background-size: 20px 52px;	
	position: absolute;
		top: -6px;
		left: 10px;
	width: 20px;
	height: 52px;
}

/* Regular notes */
.ui-note-triangle {
	background-position:0px 0px;
}

.ui-note-circle {
	background-position:-40px 0px;
}

.ui-note-x {
	background-position:-80px 0px;
}

.ui-note-square {
	background-position:-120px 0px;
}

.ui-note-triangle-target {
	background-position:0px -40px;
}

.ui-note-circle-target {
	background-position:-40px -40px;
}

.ui-note-x-target {
	background-position:-80px -40px;
}

.ui-note-square-target {
	background-position:-120px -40px;
}

/* Arrow notes */

.ui-note-triangle-arrow {
	background-position:-160px 0px;
}

.ui-note-circle-arrow {
	background-position:-200px 0px;
}

.ui-note-x-arrow {
	background-position:-240px 0px;
}

.ui-note-square-arrow {
	background-position:-280px 0px;
}

.ui-note-triangle-arrow-target {
	background-position:-160px -40px;
}

.ui-note-circle-arrow-target {
	background-position:-200px -40px;
}

.ui-note-x-arrow-target {
	background-position:-240px -40px;
}

.ui-note-square-arrow-target {
	background-position:-280px -40px;
}

/***
*
*  Test Styles [TEST]
*
***/

.test {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
}

.test video {
	width: 100%;
	height: auto;
}

.test ul {
	width: 100%;
	height: 100%;
}

.test li {
	font: 18px;
	list-style: none;
	padding: 50px 0px;
	padding-left: 20px;
	height: 18px;
	width: 100%;
}

.test li:nth-child(even) {
	background-color: #EFEFEF;
}

.test li a {
	color: black;
	text-decoration: none;
}