/***
*
*  Project R - Nathan Butler - iamnbutler@gmail.com
*
*  Primary Styles
*
***/

/***
*
*  Test Styles [TEST]
*
***/

.test ul {
	width: 100%;
	height: 100%;
}

.test li {
	font: 18px;
	padding: 50px 0px;
	padding-left: 20px;
	height: 18px;
	width: 100%;
}

.test li:nth-child(2) {
	background-color: #EFEFEF;
}